<div>
  <h1><strong>Current Level:</strong> {{ vm.getCurrentLevel() }}</h1>
  <button class="btn btn-default" ng-click="vm.prevLevel()" ng-disabled="!vm.canPrevLevel()">Easier</button>
  <button class="btn btn-primary" ng-click="vm.nextLevel()" ng-disabled="!vm.canNextLevel()">Harder</button>
</div>


 <div class='row starter-template'>
  <div class='col-sm-2'>
    <div>
      <div class='row'>
        <h1><p class='text-right'><strong>{{vm.card.a}}</strong></p></h1>
      </div>
      <div class='row'>
        <h1><p class='text-right'><strong><u>{{vm.card.op}}{{vm.card.b}}</u></strong></p></h1>
      </div>
    </div>

    <div class='row'>
      <form>
        <input type='text' class='form-control' ng-model='vm.answer' ng-model-options='{ debounce: 300 }' />
      </form>
    </div>
  </div>

</div>
<div class="alert alert-success" role="alert" ng-show="vm.success">
  <strong>Well done!</strong>
</div>
<div class="alert alert-danger" role="alert" ng-show="vm.fail">
  <strong>Try again</strong>
</div>